.desktop-container {
  display: block;
}

.article-containers-wrapper {
  display: flex;
}

.mobile-container {
  display: none;
}

.articles-container {
  padding: 0 22px 0 45px;
  width: 50%;

  &:last-child {
    padding: 0 45px 0 22px;
  }
}

.article-item {
  display: flex;
  height: 150px;
}

.url-container {
  flex: 1;
  margin: 10px 0 10px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.url-container img {
  max-width: 150px;
  height: auto;
  zoom: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-text {
  flex: 2;
  padding: 6px 18px 6px 0;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.article-title {
  font-size: 1.1rem;
  line-height: 1.7rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.article-details {
  color: #737373;
  font-size: 0.85rem;
}

.article-details span {
  padding: 0 6px;
}

.article-link {
  color: black;
  text-decoration: none;
}

// Tablet
@media only screen and (max-device-width: 768px) {
  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: block;
  }

  .articles-container {
    width: 100%;
  }
}

// Phone screen
@media only screen and (max-device-width: 480px) {
  .articles-container {
    padding: 0 24px;
  }

  .url-container img {
    width: 77px;
  }
}