.load-more-container {
  text-align: center;

  .load-more-button {
    background: #6194BC;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 25px;
    border: none;
    width: 18%;
    margin: 36px auto;
    padding: 8px 16px;
    
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 12px rgba(0,0,0,.15);
    }

    &:focus {
      outline: none;
    }
  }
}

// Tablet
@media only screen and (max-device-width: 768px) {
 .load-more-container .load-more-button {
    width: 28%;
  }
}

// Phone screen
@media only screen and (max-device-width: 480px) {
  .load-more-container .load-more-button {
    width: 48%;
  }
}